
.CarouselTeam{
    display: grid;
    flex-wrap: wrap;
    justify-content: center;
    background-color:#a1b0b9;
    /*#6CA1C2*/
    margin-top: 5em;
    color: black;
    padding-top: 2em;
    padding-bottom: 2em;
}

.CarouselTeam .carousel-wrapper{
    width: 90vw;
}

.CarouselTeam .carousel button{
    background: none;
}

.CarouselTeam h2{
    font-size: 2.8em;
    margin-top: 0;
    display: block;
    font-weight: 700;
}

.CarouselTeam .item{
    display: grid;
    justify-content: center;
    margin: 0 5em;
}

.CarouselTeam .item h3{
    justify-self: center;

}

.CarouselTeam .item h4{
    justify-self: center;
    margin: 2em 0 1em;

}

.CarouselTeam .item p{
    justify-self: center;
    height: 4em;
    margin: 0;

}

.CarouselTeam .item .imageCircle{
    width: 15em;
    height: 15em;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    justify-self: center;
}
.CarouselTeam .item img{
    display: inline;
    position: relative;
    bottom: 10px;
    margin: 0 auto;
    height: 23em;
    width: 16em;
}
/*==========  Mobile First   ==========*/

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

    .CarouselTeam h2{
        margin-top: 0.5em;
        margin-left: 2em;
    }

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1300px) {

} 