.App{
    font-size: 1em;
}

.App .transtion{
    background: linear-gradient(180deg, var(--colorOne) 7%, black 100%);
    padding: 15vh;
    margin: 0;
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1300px) {
   .App{
        font-size: 1.1em;
    }
} 