.Footer {
    font-size: 16px;
    margin-left: 2em;
    display: grid;    
    align-items: start;
    justify-content: left;
    width: 90vw;
    overflow: hidden;
}

.Footer ul{
    list-style: none;
}

.Footer h5{
    margin-top: 2em;
    margin-bottom: 0.5em;
    cursor: pointer;
    display: inline-block;
    font-size: 1.2em;
}
.Footer .subscribe{
    padding-bottom: 1em;
}
.Footer input{
    background: none;
    border: 0.06em solid white;
    font-size: 1em;
    padding: 0.5em;
    border-radius: 0.3em;
    color: white;
}

.Footer button{
    background: white;
    color: black;
    margin-left: 0.2em;
    border: none;
    font-size: 1em;
    font-weight: 100;
    padding: 0.6em;
    border-radius: 0.3em;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
.Footer button:hover{
    background-color: gray;
    color: white;
}

.Footer .social-list{
    display: flex;
    gap: 2em;
    padding-left: 0;
}
.Footer .social-list svg {
    width: 1.5em;
    height: 1.5em;
    transition: all 0.25s ease 0s;
    color: white;
}

.Footer .social-list svg:hover {
    color: gray;
}

.Footer p{
    margin-top: 0;
    color: rgb(193, 253, 253);
    visibility: hidden;
    transition: 0.5s ease-in;
    display: block;
}
.Footer .active{
    visibility: visible;
}


/*==========  Mobile First   ==========*/

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .Footer{
        grid-template-columns: 50% 50%;
    }
    .Footer .subscribe{
        grid-column: 2/3; 
        justify-self: center;
        padding-bottom: 1em;
    }
    .Footer .social-media{
        grid-column: 1/2;
        grid-row: 1;
        margin-top: 0;
        justify-self: center;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1300px) {

} 
